@using TravelBook.Web.ViewModels.TravelViewModels

@model TravelDeleteViewModel

@{
    ViewBag.Title = "Delete travel";
}

<h2>Are you sure you want to delete all travel data?</h2>
<hr />

<div class="col-md-4">
    <p>
        @Html.DisplayNameFor(model => model.Place)
        @Html.DisplayFor(model => model.Place)
    </p>
    <p>
        Period: @Model.DateStartTravel.Value.ToShortDateString() - @Model.DateFinishTravel.Value.ToShortDateString()
    </p>
    <p>
        @Html.DisplayNameFor(model => model.NumAlbums)
        @Html.DisplayFor(model => model.NumAlbums) pcs.
    </p>
    <p>
        @Html.DisplayNameFor(model => model.NumArticles)
        @Html.DisplayFor(model => model.NumArticles) pcs.
    </p>
</div>
<div>
    <p>
        <form asp-action="Delete" asp-controller="Travels" method="post">
            <input type="hidden" name="travelId" value="@Model.Id" />
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </form>
    </p>
    <p>
        @Html.ActionLink("Back to travels", nameof(TravelsController.All),
                            nameof(TravelsController).CutController())
    </p>
</div>