@using TravelBook.Web.ViewModels.PhotoAlbumViewModels

@model PhotoAlbumViewModel

@{
    ViewBag.Title = "Delete album";
}

<h2>Are you sure you want to delete this photoalbum?</h2>
<hr />

<div class="col-md-4">
    <p>
        @Html.DisplayNameFor(model => model.Travel): 
        @Html.DisplayFor(model => model.Travel)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Title):
        @Html.DisplayFor(model => model.Title)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.NumPhotos):
        @Html.DisplayFor(model => model.NumPhotos) photos
    </p>
</div>
<div>
    <p>
        <form asp-action="Delete" asp-controller="PhotoAlbums" method="post">
            <input type="hidden" name="photoAlbumId" value="@Model.Id" />
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </p>
    <p>
        <a href="@ViewBag.returnUrl">Back to albums</a>
    </p>
</div>
