@using TravelBook.Web.ViewModels.PhotoAlbumViewModels

@model IEnumerable<PhotoAlbumViewModel>

@{
    ViewBag.Title = "Travel photoalbums";
}


@if(ViewBag.IsEmpty)
{
    <label>You don't have any albums yet</label>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Travel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPhotos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>@item.Travel</td>
                <td>@item.Title</td>
                <td>@item.NumPhotos pcs.</td>
                <td>
                    @Html.ActionLink("Open", nameof(PhotoAlbumsController.Open),
                                             nameof(PhotoAlbumsController).CutController(),
                                             new { photoAlbumId=item.Id, returnUrl=ViewBag.returnUrl }) |
                    @Html.ActionLink("Delete", nameof(PhotoAlbumsController.Delete),
                                               nameof(PhotoAlbumsController).CutController(),
                                               new { photoAlbumId=item.Id, returnUrl=ViewBag.returnUrl })
                </td>
            </tr>
    }
        </tbody>
    </table>
}

@if(ViewBag.TravelId != null)
{
    <form asp-action="Create" asp-controller="PhotoAlbums" method="get">
        <input hidden="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <input hidden="hidden" name="travelId" value="@ViewBag.TravelId" />
        <input type="submit" value="Add new photoalbum" />
    </form>
}
